<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Split Pay!</h1>
    <p>Ever need to split up a charge, but the site only accept one payment from one debit/credit card? Well we got you covered! Split Pay will be able to use multiple cards or even banking accounts to split up a payment! </p>
    <p><a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign Up! &raquo;</a></p>
  </div>